#conncectCard{
    background-color: lightgray;
    padding-top: 20px;
}
.btn-karl{
    padding: 8px;
    font-size: 18px;
}
.btn{
    width:75%
}
.btn:hover{
    background-color: blue;
}
.closeModal{
    background-color: transparent;
    border-color: transparent;
}

.mt-2 {
    margin-top: 3.3rem!important;
}
.card {
    border-radius: 1.25rem;
}
#submit{
    font-size: 18px;
}
.validation{
    color: red;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td, table {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;

}

th {
  background-color: rgb(77, 97, 160);
  font-weight: bold;
  position: sticky;
  top: 0; 
}
tr:hover{
    background-color: grey;
}
 h2{
    text-align: center;
 }